@import "tailwindcss" prefix(fj);
@import "frutjam";
@plugin "@tailwindcss/typography";

.textarea::selection {
    background: color-mix(in oklch, var(--color-primary), transparent 80%);
    color: transparent;
    caret-color: var(--color-primary);
}